.childbirth-maastricht-header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/pregnancy-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width:640) {
    background-image: url(../img/pregnancy-2.jpg);
}

.childbirth-maastricht-header .intro-text {
    padding-top: 80px;
    padding-bottom: 50px;
}

.childbirth-maastricht-header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

.childbirth-maastricht-header .intro-text .intro-heading {
    margin-bottom: 10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.childbirth-maastricht-header .intro-text .intro-lead-out {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

@media(min-width:768px) {
    .childbirth-maastricht-header .intro-text {
        padding-top: 200px;
        padding-bottom: 250px;
    }

    .childbirth-maastricht-header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    .childbirth-maastricht-header .intro-text .intro-heading {
        margin-bottom: 20px;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}