---
layout: home
title: health &amp; wellness teacher and event host - Judith Janssen
class: homepage
logo: false
navbar: true
---
<header class="home-header">
    <div class="home-background"></div>

    <h1 class="introduction">
        <div class="name"><img src="{{ site.logo }}" alt="{{ site.title }}" title="{{ site.title }}"></div>
        <span class="slabtext heading">health &amp; wellness</span>
        <span class="slabtext subheading">through yoga and movement</span>
    </h1>
</header>

<section id="intro">
  <div class="container">
	<div class="row">
    <h3 class="section-heading text-center">Create strength, balance, and ease in your body and mind</h3>
    <p class="section-subheading text-muted text-center less-margin">I teach how to <strong>increase your energy and focus</strong> to be
    <br /><strong>more productive</strong> at work, <strong>more present</strong> at home, and <strong>enjoy every day</strong> to its fullest.
    </p>
  </div>

  </div>
</section>

<section id="upcoming" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h3 class="section-heading text-center">Upcoming workshops & retreats</span></h3>
          <p class="section-subheading col-lg-10 col-lg-offset-1 text-muted text-center">Would you like to join me in a retreat? The following editions are open for registration.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="upcoming-retreat">
          <h2 class="">desconecta<br><p class="text-muted">11-13 de Septiembre 2015  (Spanish)</p></h2>
          <p class="text-muted">Fin de semana de Yoga y Relax en la Marina Alta.</p>
          <a class="btn btn-primary" href="/es/desconecta">
            Apúntate
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="upcoming-retreat">
          <h2 class="">focus<br><p class="text-muted">October 1st-5th 2015 (English)</p></h2>
          <p class="text-muted">4-day yoga retreat by the mediterranean sea.</p>
          <a class="btn btn-primary" href="/focus">Join now!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
  <div class="row">
    <h3 class="section-heading text-center">How can I help you?</h3>
    <p class="section-subheading col-lg-10 col-lg-offset-1 text-muted text-center">
      I host and organize <strong>workshops, lessons and retreats</strong> where I focus on
      <br />
      <strong>body awareness, proper breathing, postural alignment and mindfulness</strong>.
    </p>

  </div>
        <div class="row">
          <div class="col-md-4">
          <h3 class="">Private lessons</h3>
            <p class="text-muted">Enjoy personalized yoga sessions, tailored to your needs and schedule, in the comfort of your home or office.</p>
          </div>
          <div class="col-md-4">
          <h3 class="">Workshops &amp; retreats</h3>
            <p class="text-muted">I host several body-mind workshops and holiday retreats through out the year. See upcoming dates and locations below.</p>
          </div>
          <div class="col-md-4">
          <h3 class="">Host your own retreat</h3>
            <p class="text-muted">I help other yoga teachers and studios to organise retreats in the beautiful and sunny Marina Alta (South East Spain).</p>
          </div>
        </div>
        <div class="row">
          <p class="section-subheading col-lg-10 col-lg-offset-1 text-muted text-center less-margin">Let's work togheter!
          <br />Call me at 622&nbsp;875&nbsp;478 or <a href="mailto:judithjanssen@gmail.com">drop&nbsp;me&nbsp;an&nbsp;email</a>.</p> 
  </div>

  </div>
</section>
<!--
<section id="posts" class="bg-light-gray">
  <div class="container">
  	<div class="row">
  	  <h3 class="section-heading text-center">Popular blog posts</h3>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% include post-list.html %}
      </div>
  	</div>
  </div>
</section>
-->
<section id="newsletter" class="bg-light-gray">
  <div class="container">
        {% include mailchimp-form.html heading="Don't miss out"   subheading="I will keep you up-to-date with a monthly-ish email with articles, videos and events.<br/>No spam, I promise."  field="Email" button="Keep me up-to-date" %}
  </div>
</section>
