<!-- Services Section -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-heading">Description</h2>

                    <h3 class="section-subheading text-muted">This retreat offers you a mix of dynamic yoga sessions that will increase alignment and body awareness and restorative practices to unwind your body and mind and deepen your inner focus. </h3>

                </div>
            </div>
            <div class="row text-center extra-margin">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good exercise</h4>
                    <p class="text-muted">An active daily routine with morning and evening yoga sessions to unwind your body and mind and other optional outdoor activities to enjoy yourself and the landscape.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sun-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good weather</h4>
                    <p class="text-muted">We can´t 100% guarantee that the sun will shine, but, come on, we are talking about the end of May at the sunniest coast in Europe. Don´t forget to bring your sunscreen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good food</h4>
                    <p class="text-muted">Great vegetarian dishes cooked with love and the best local and organic ingredients to give your body a healthy boost.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="section-heading text-center">What to expect?</h2>

                    <h3 class="section-subheading text-muted text-center less-margin">Attention, in all its varieties, has a very powerful influence on the way we feel and the way we move through life. </h3>
                
                    <p class="text-muted large"><strong>The internal focus helps us connect with our intuitions and values</strong> that guide us, favoring the process of decision making; the external focus helps us navigate the world around us; and focus on others improves our social life.</p>
                    <p class="text-muted large">Modern society however, does not facilitate the cultivation of attention.</p>
                    <p class="text-muted large">The speeded-up, highly complex society we live in, where <strong>we have a non-stop stream of distractions coming in</strong> through our smartphones and laptops feeds our so-called <em>monkey mind</em>, with very short attention spans and scattered thoughts.</p>
                    <p class="text-muted large">The good news is: <strong>you can train your brain</strong>! (and your body while you are at it :)</p>
                    <br>                   
                    <h3 class="section-subheading text-muted text-center">
                    <strong>I invite you to step into the miraculous world that is your body and mind</strong>, become close, and start refining your inner focus.</h3>
                </div>
            </div>
        </div>
    </section>
