<!-- Services Section -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Description</h2>
                    <h3 class="section-subheading text-muted">Attention, in all its varieties, has a very powerful influence on the way we feel and the way we move through life. The internal focus helps us connect with our intuitions and values that guide us, favoring the process of decision making; the external focus helps us navigate the world around us; and focus on others improves our social life.
<br>
Modern society however, does not facilitate the cultivation of attention, it rather feeds our so-called monkey mind (Buddhist term meaning "unsettled; restless; confused; indecisive; uncontrollable”). The speeded-up, highly complex society we live in, where we have a non-stop stream of distractions coming in through our smartphones and laptops, facilitates very short attention spans and leaves us with scattered minds.
<br>
The good news is: you can train your brain! (and your body while you are at it :)
<br>
I invite you to step into the miraculous world that is your body and mind, become close, and start refining your inner focus.
<br>
Join me for a four-day immersion in body-mind centering practices. This retreat offers you a mix of dynamic yoga sessions that will increase alignment, body awareness and sensory attention, restorative practices to unwind your body and mind and meditative techniques to deepen your inner focus. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good exercise</h4>
                    <p class="text-muted">An active daily routine with morning and evening yoga sessions and other optional outdoor activities for you to enjoy yourself and the landscape</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sun-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good weather</h4>
                    <p class="text-muted">We cannot guarantee that the sun will shine, but, come on, we are talking about th end of May at the sunniest coast in Europe. Bring your sunscreen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good food</h4>
                    <p class="text-muted">Great vegetarian dishes cooked with love and the best local and organic ingredients. There is no better way to get your energy back</p>
                </div>
            </div>
        </div>
    </section>
