<!-- Services Section -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Description</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good exercise</h4>
                    <p class="text-muted">An active daily routine with morning and evening yoga sessions to unwind your body and mind and other optional outdoor activities to enjoy yourself and the landscape.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sun-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good weather</h4>
                    <p class="text-muted">We can´t 100% guarantee that the sun will shine, but, come on, we are talking about the end of May at the sunniest coast in Europe. Don´t forget to bring your sunscreen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Good food</h4>
                    <p class="text-muted">Great vegetarian dishes cooked with love and the best local and organic ingredients to give your body a healthy boost.</p>
                </div>
            </div>
        </div>
    </section>
