  <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">Copyright &copy; {{ site.name }} 2015<br>
                    <a href="/privacypolicy">Privacy Policy</a></p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        {% for network in site.data.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>