<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ description }}">
    {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}">
    {% elsif page.permalink %}
    <link rel="canonical" href="{{ page.permalink }}">
    {% endif %}
    {% include stylesheets.html %}
    
    {% include ie-shims.html %}

    {% include og-meta.html %}

    {% include js/gtm-head.html %}
</head>
