{% if page.image %}
    {% assign image = page.image %}
{% else %}
    {% assign image = '/img/share/health-and-wellness.png' %}
{% endif %}

{% if page.description %}
    {% assign description = page.description %}
{% else %}
    {% assign description = site.description %}
{% endif %}

{% if page.title %}
    {% if page.subtitle %}
        {% capture title %}{{ page.title }}: {{ page.subtitle }}{% endcapture %}
    {% else %}
        {% assign title = page.title %}
    {% endif %}
{% else %}
    {% assign title = site.title %}
{% endif %}

{% assign canonical = page.url | prepend: site.baseurl | prepend: site.url %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ canonical }}">

    {% include stylesheets.html %}
    
    {% include ie-shims.html %}

    {% include og-meta.html %}

    {% include google-analytics.html %}
</head>
