<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">focus</div>
            <div class="intro-lead-in">4-day mind &amp; body retreat by the mediterranean sea</div>
            <div class="intro-lead-out">21 - 25 of May 2015</div>
            <a href="#description" class="page-scroll btn btn-xl">Zoom in</a>
            <a href="#register" class="page-scroll btn btn-primary btn-xl">Register</a>
        </div>
    </div>
</header>
