 <!-- jQuery Version 1.11.0 -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.scrolldepth.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.scrolldepth.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/slabtext/jquery.slabtext.min.js" | prepend: site.baseurl }}"></script>
    <script>
      // Function to slabtext the H1 headings
      var slabTextHeader = function() {
        $(".homepage .introduction").slabText({
          // Don't slabtext the headers if the viewport is under 380px
            "viewportBreakpoint":340,
            "maxFontSize":180
        });
      };

      if (fontsLoaded == true) slabTextHeader();
    </script>
    <script>
      WebFontConfig = {
        google: {
          families: ['Montserrat:400,700', 'Droid+Serif:400,700,400italic,700italic']
        },
        active: function() {slabTextHeader();},
        inactive: function() {slabTextHeader();}
      };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                  '://ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    
    <script>
      jQuery(function() {
        jQuery.scrollDepth({
          minHeight: 2000,
          elements: ['#description', '#location', '#schedule', '#teacher', '#register'],
          percentage: false,
          userTiming: false,
          pixelDepth: false,
          nonInteraction: false
        });
      });
    </script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- Google Code para etiquetas de remarketing -->
    <!--------------------------------------------------
    Es posible que las etiquetas de remarketing todavía no estén asociadas a la información de identificación personal o que estén en páginas relacionadas con las categorías delicadas. Para obtener más información e instrucciones sobre cómo configurar la etiqueta, consulte http://google.com/ads/remarketingsetup.
    --------------------------------------------------->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 971112294;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971112294/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
