    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/slabtext/jquery.slabtext.min.js" | prepend: site.baseurl }}"></script>
    
    {% include js/webfontloader.html %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <!--
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    -->

    {% include js/headroom.html %}
    
    {% include js/scrolldepth.html %}

    {% include js/clicktotweet.html %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    {% include js/remarketing.html  %}
