    <meta property="og:title" content="4-day holiday yoga retreat">
    <meta property="og:site_name" content="Judith Janssen">
    <meta property="og:url" content="https://judithjanssen.es">
    <meta property="og:description" content="A mix of dynamic yoga sessions that will increase alignment and body awareness and restorative practices to unwind your body and mind and deepen your inner focus.">
    <meta property="og:image" content="{{ "/img/health-and-wellness.png" | prepend: site.url }}">
    <meta property="og:type" content="website">