<!-- About Section -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Arrival and check in are on Thursday 21st of May from 2pm onwards. We will start our program with dinner at 7:30pm. 
The Focus! Retreat will end on Monday 25th of May at 2pm.<br>

Below you will find the regular day-schedule. If you want to have a look at the detailed schedule, <a href="https://dl.dropboxusercontent.com/u/322971/Detailedprogramme-FocusRetreat.pdf">download the full programme</a>.
</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>8:00 AM</h4>
                                    <h4 class="subheading">Day Opening</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will start the day with breathwork and a vigorous, dynamic yoga session.
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10:30 AM</h4>
                                    <h4 class="subheading">Brunch!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At 10:30 AM you can fuel your body with a delicious and healthy brunch!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12:00 - 17:00 PM</h4>
                                    <h4 class="subheading">Free time</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After brunch you will time for reflection, swimming, beach wanders, marvellous mountain walks or reading.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5:00 PM</h4>
                                    <h4 class="subheading">Winding down</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At 5:00 PM we get back together for a restorative yoga practice followed by a meditation.
</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7:30 PM</h4>
                                    <h4 class="subheading">Dinner time</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will then enjoy dinner together and the evening is yours to enjoy. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join me
                                    <br>On This
                                    <br>Retreat!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
