<div class="row social-share">
    <h4 class="col-sm-12 text-center">If you enjoyed this article, please share it.</h4>
    <div class="col-md-2 col-md-offset-2 col-sm-3">
        <button class="btn btn-block btn-default twitter-share"><i class="fa fa-twitter"></i> twitter</button>
    </div>
    <div class="col-md-2 col-sm-3">
        <button class="btn btn-block btn-default facebook-share"><i class="fa fa-facebook"></i> facebook</button>
    </div>
    <div class="col-md-2 col-sm-3">
        <button class="btn btn-block btn-default linkedin-share"><i class="fa fa-linkedin"></i> linkedin</button>
    </div>
    <div class="col-md-2 col-sm-3">
        <button class="btn btn-block btn-default gplus-share"><i class="fa fa-google-plus"></i> google plus</button>
    </div>
</div>