<!-- Team Section -->
    <section id="teacher" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <h2 class="section-heading text-center">Judith Janssen</h2>
                        <p class="text-muted">Your host &amp; yoga teacher</p>
                        <img src="img/team/judithjanssen2.jpg" class="img-responsive img-circle" alt="">
                        <br>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/judith.janssen.14"><i class="fa fa-facebook"></i></a>
                            <li><a href="http://twitter.com/infoyoga"><i class="fa fa-twitter"></i></a>
                            <li><a href="https://www.linkedin.com/in/judithjanssen"><i class="fa fa-linkedin"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="large text-muted">I was born and raised in the Netherlands and currently live in Spain with my boyfriend and two kids. I went through the whole package: university, travelling and working at a multinational company. I felt a bit disorientated and disconnected from what I really wanted in life. Then, I came across yoga and it was quite a revelation. Yoga became my passion and later my profession.</p>

                   <h4 class="text-muted">My aproach to yoga</h4>

<p class="large text-muted">We live in a culture where the motto is “no pain no gain”. Yes, the feeling that you get after a tough workout is great, but <strong>a lot of workouts can be harmful for your body, and even for your self-image</strong>.</p>

<p class="large text-muted">Even yoga, when practised in a disrespectful way can cause harm to your body, and injury. So, for me, one of <strong>the key things in yoga is respect for your body</strong>. You <em>can</em> have a tough and exhilarating yoga workout, but always within the boundaries that your body, your constitution sets.</p>

<p class="large text-muted">I think we <strong>better work for self-acceptance than for self-improvement</strong>, and cultivate a constructive and loving attitude towards ourselves, not a destructive and negative one.</p>

<p class="large text-muted">I <strong>focus on body awareness, proper breathing and proper postural alignment</strong>. My teaching is an integration of Hatha yoga with the precision and props of Iyengar yoga, the dynamics of Vinyasa flow and other body movement and expression techniques.</p>
                </div>
            </div>
        </div>
    </section>
