<!-- Team Section -->
    <section id="teacher" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Judith Janssen</h2>
                    <h3 class="section-subheading text-muted">Host &amp; yoga teacher.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/judithjanssen3.jpg" class="img-responsive img-circle" alt="">
                        <br>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://facebook.com/judithjanssen"><i class="fa fa-facebook"></i></a>
                            <li><a href="http://twitter.com/disastre"><i class="fa fa-twitter"></i></a>
                            <li><a href="https://www.linkedin.com/in/judithjanssen"><i class="fa fa-linkedin"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="large text-muted">My name is Judith Janssen. I was born and raised in the Netherlands, went to study abroad, travelled and worked in a variety of countries and then went to Spain, where I currently live with my boyfriend and two kids.</p>

                <p  class="large text-muted">I went through the whole package: highschool, university, travelling, making career in multinationals. In my late twenties twenties, I felt disorientated and also disconnected from what I really wanted in life. Then, I came across yoga. It really was a revelation. </p>

<p  class="large text-muted">I think in general, there´s not much attention to breathing while working out, the mind is not always addressed either, and we live in a culture where the motto is “no pain no gain”. Yes, the feeling that you get after a tough workout is great. But a lot of workouts can be harmful for your body, and even for your self-image. I think we better work for self-acceptance than for self-improvement, and cultivate a constructive and loving attitude towards ourselves, not a destructive and negative one.</p>

<p  class="large text-muted">Even yoga, when practised in a disrespectful way can cause harm to your body, and injury. So, for me, one of the key things in yoga is respect for your body. Yes, you CAN have a tough and exhilarating yoga workout, but always within the boundaries that your body, your constitution sets.</p>

<p  class="large text-muted">The focus of my classes is on body awareness, proper breathing and individual alignment (postural reeducation). My teaching is an integration of Hatha yoga with the precision and props of Iyengar yoga, the dynamics of Vinyasa flow and other body movement and expression techniques.</p>
                </div>
            </div>
        </div>
    </section>
