---
layout: home
class: homepage
navbar: true
permalink: /
---
<header class="home-header">
    <div class="home-background"></div>

    <div class="introduction-wrapper container">
      <h1 class="introduction">
          <div class="name"><img src="{{ site.logo }}" alt="{{ site.title }}" title="{{ site.title }}"></div>
          <span class="slabtext heading">doula, yoga teacher</span>
          <span class="slabtext subheading">& midwife in training</span>
      </h1>
    </div>
</header>

<section id="services">
  <div class="container">
  <div class="row">
    
    <h3 class="section-heading text-center">Trust your body and the process of childbirth</h3>
    <p class="section-subheading col-lg-10 col-lg-offset-1 text-muted text-center">
        Join me in a jouney to <strong>become confident</strong> about your body <strong>and empowered</strong> to navigate pregnancy, childbirth and the transition to parenthood.
        <br />
      <!-- I offer <strong>workshops, lessons and retreats</strong> where I focus on <strong>body awareness, proper breathing, postural alignment and mindfulness</strong>. -->
    </p>
   
  </div>
        <div class="row">
          <div class="col-md-4 text-center">
          <span class="center-block fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-female fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class=""><a class="u-unlink" href="/birth-support/">Birth support</a></h3>
            <p class="text-muted">I offer doula services and prenatal massage in and around Maastricht.</p>
            <a href="/birth-support/" class="btn btn-default">Learn more about it</a>
          </div>
          <div class="col-md-4 text-center">
          <span class="center-block fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class=""><a class="u-unlink" href="/events/">Childbirth education</a></h3>
            <p class="text-muted">I host several workshops and urban retreats throughout the year.</p>
            <a href="/childbirth-education/maastricht" class="btn btn-default">Check out upcoming dates</a>
          </div>
          <div class="col-md-4  text-center">
          <span class="center-block fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class=""><a class="u-unlink" href="/prenatal-yoga/">Prenatal yoga</a></h3>
            <p class="text-muted">I teach pre and postnatal yoga in Maastricht, both private and group sessions.</p>
            <a href="/prenatal-yoga/" class="btn btn-default">Book your next lesson</a>

          </div>
        </div>
        <div class="row">
          <p class="section-subheading col-lg-10 col-lg-offset-1 text-muted text-center less-margin">Let's do this together!
          <br />Call me at <a href="tel:+31624930089">+31&nbsp;624&nbsp;930&nbsp;089</a> or <a href="mailto:judithjanssen@gmail.com">drop&nbsp;me&nbsp;an&nbsp;email</a>.</p> 
  </div>

  </div>
</section>
<!--
<section id="posts">
  <div class="container">
  	<div class="row">
  	  <h3 class="section-heading text-center">Popular blog posts</h3>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% include post-list.html %}
      </div>
  	</div>
  </div>
</section>
-->
<section id="newsletter" class="bg-light-gray">
  <div class="container">
        {% include mailchimp-form.html heading="Don't miss out"   subheading="I will keep you up-to-date with a monthly-ish email with articles, videos and events.<br/>No spam, I promise."  field="Email" button="Keep me up-to-date" %}
  </div>
</section>
