---
layout: home
class: homepage
navbar: true
permalink: /
---
<header class="home-header">
    <div class="home-background"></div>

    <h1 class="introduction">
        <div class="name"><img src="{{ site.logo }}" alt="{{ site.title }}" title="{{ site.title }}"></div>
        <span class="slabtext heading">women's wellness</span>
        <span class="slabtext subheading">through yoga and movement</span>
    </h1>
</header>

<section id="intro">
  <div class="container">
	<div class="row">
    <h3 class="section-heading text-center">Become more aware, balanced and at ease with your body and mind</h3>
    <p class="section-subheading text-muted text-center less-margin">I can assist in your jouney to <strong>become more confident</strong> about your body, <strong>understand your cycles and needs</strong>, and <strong>enjoy every day</strong> to its fullest.
    </p>
  </div>

  </div>
</section>

<section id="services" class="bg-light-gray">
  <div class="container">
  <div class="row">
    <h3 class="section-heading text-center">How can I assist you?</h3>
    <!--
    <p class="section-subheading col-lg-10 col-lg-offset-1 text-muted text-center">
      I host and organize <strong>workshops, lessons and retreats</strong> where I focus on
      <br />
      <strong>body awareness, proper breathing, postural alignment and mindfulness</strong>.
    </p>
    -->
  </div>
        <div class="row">
          <div class="col-md-4 text-center">
          <span class="center-block fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-female fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class="">Regular lessons</h3>
            <p class="text-muted">Join any of the weekly group lessons in Marina Alta or book a private session, tailored to your needs and schedule.</p>
            <a href="/lessons/" class="btn btn-default">Book your next session</a>
          </div>
          <div class="col-md-4 text-center">
          <span class="center-block fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class="">Workshops &amp; retreats</h3>
            <p class="text-muted">I host several body-mind workshops and holiday retreats through out the year. See upcoming dates and locations below.</p>
            <a href="/events/" class="btn btn-default">Check out upcoming dates</a>
          </div>
          <div class="col-md-4  text-center">
          <span class="center-block fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class="">Host your own retreat</h3>
            <p class="text-muted">I help other yoga teachers and studios to organise retreats in the beautiful and sunny Marina Alta (South East Spain).</p>
            <!--<a href="/your-own-retreat" class="btn btn-default">Make it happen</a>-->

          </div>
        </div>
        <div class="row">
          <p class="section-subheading col-lg-10 col-lg-offset-1 text-muted text-center less-margin">Let's do this together!
          <br />Call me at 622&nbsp;875&nbsp;478 or <a href="mailto:judithjanssen@gmail.com">drop&nbsp;me&nbsp;an&nbsp;email</a>.</p> 
  </div>

  </div>
</section>
<!--
<section id="posts">
  <div class="container">
  	<div class="row">
  	  <h3 class="section-heading text-center">Popular blog posts</h3>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% include post-list.html %}
      </div>
  	</div>
  </div>
</section>
-->
<section id="newsletter">
  <div class="container">
        {% include mailchimp-form.html heading="Don't miss out"   subheading="I will keep you up-to-date with a monthly-ish email with articles, videos and events.<br/>No spam, I promise."  field="Email" button="Keep me up-to-date" %}
  </div>
</section>
