.homepage {
	h1, h2, h3, h4{
       text-transform: none;
       font-weight: 400;
	}
}
.homepage h1 {
	font-size: 1rem;
	font-weight: 400;
}

.home-background {
    background-image: url(../img/judith-home.png);
    background-position: top left;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    padding-bottom: 80%;
    z-index: -10;
}

.introduction {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	padding: 1em 1em;
}

.introduction .name img {
	width: 100%;
}

@media(min-width:480px) {
   .home-background {
   	  padding-bottom: 36%;
   }
   .introduction {
   	    position: absolute;
   	    top: 10px; right: 10px;
   	    width: 300px;
   		padding: 1em;
   }
}

@media(min-width:768px) {
   .home-background {
   	  padding-bottom: 40%;
   }
   .introduction {
   	  width: 400px;
   }
}

@media(min-width:992px) {
   .home-background {
   	  padding-bottom: 35%;
   }
   .introduction {
   	  width: 450px;
   	  top: 60px; right: 50px;
   }
}

@media(min-width:1200px) {
   .home-background {
   	  padding-bottom: 35%;
   }
   .introduction {
   	  width: 550px;
   	  top: 100px; right: 100px;
   }	
}
.wf-loading .introduction {
	visibility: hidden;
}

.homepage section {
	padding-top: 2em;
}