.home-background {
    background-image: url(../img/judith-home.png);
    background-position: top left;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    padding-bottom: 75%;
}

.home-header {
	margin-top: -15px;
}

.home-header .introduction {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.home-header .name img {
	width: 100%;
}

.home-header .heading{
	font-size: 2.5em;
}

.home-header .subheading {
	font-size: 1.5em;
}


@media(min-width:768px) {
   .home-background {
   	  position: absolute;
   	  padding-bottom: 55%;
   }
   .home-header {
   	  margin-top: 2em;
   }
}