
.navbar.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-nav > li a {
        color: white;
        font-family: $font-family-sans-serif;
          text-transform: uppercase;
        &:hover {
          color: $primary;
        }
    }
}

.headroom {
    border-bottom: 1px solid transparent;
    transition: transform 200ms linear,
                background-color 200ms linear,
                border-bottom 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    &.headroom--not-top {
      &.navbar {
        background-color: white;
        border-bottom: 1px solid $gray-lighter;
        ul a {
          color: $text-color;
        }
      }
      .logo {
        display: block;
      }
    }
}
.headroom--unpinned {
    transform: translateY(-100%);
}
