
.navbar.navbar-default {
    background-color: white;
    border-bottom: 1px solid $gray-lighter;
    + header {
      margin-top: 80px;
    }
    .navbar-nav > li a {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        &:hover {
          color: $primary;
        }
    }
    @media (min-width: $screen-sm-min) {
        background-color: transparent;
        border-bottom: 1px solid transparent;
        .navbar-nav > li a {
          color: white;
        }
        + header {
          margin-top: 0px;
        }
    }
}

.headroom {
    border-bottom: 1px solid transparent;
    transition: transform 200ms linear,
                background-color 200ms linear,
                border-bottom 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    &.headroom--not-top {
      &.navbar {
        background-color: white;
        border-bottom: 1px solid $gray-lighter;
        ul a {
          color: $text-color;
        }
      }
      .logo {
        display: block;
      }
    }
}
.headroom--unpinned {
    transform: translateY(-100%);
}
