.post-preview {
	color: $text-color;
	text-decoration: none;
	&:hover,
	&:focus {
	    text-decoration: none;
		color: $secondary-dark;
    }
		.post-title {
			margin-top: 30px;
			margin-bottom: 10px;
		}
		.post-subtitle {
			margin: 0;
			margin-bottom: 10px;
		}
	.post-meta {
		&:hover,
		&:focus {
		    text-decoration: none;
	    }
		color: $gray-light;
		font-style: italic;
		margin-top: 0;
	}
}