$font-size-base: 				16px;
$line-height-base:				2;
$font-family-sans-serif:  		Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-serif:       		"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;

$brand-primary: 				$primary;
$link-color: 					$secondary;
$btn-default-color:             $secondary;
$btn-default-bg:                white;
$btn-default-border:            $secondary;

$navbar-height: 				80px;
//$grid-float-breakpoint:			992px;