$font-size-base: 				16px;

$brand-primary: 				$primary;
$link-color: 					$secondary;
$btn-default-color:             $secondary;
$btn-default-bg:                white;
$btn-default-border:            $secondary;