{% assign data = site.data.focus.intro[page.lang] %}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{ data.heading }}</div>
            <div class="intro-lead-in">{{ data.subheading }}</div>
            <div class="intro-lead-out">21 - 25 of May 2015</div>
            {% for button in data.buttons %}
            <a href="{{ button.link }}" class="{{ button.class }}">{{ button.label }}</a>
            {% endfor %}
        </div>
    </div>
</header>
