{% assign data = site.data.focus.schedule[page.lang] %}
<!-- About Section -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="section-heading text-center">{{ data.heading }}</h2>
                    <h3 class="section-subheading text-muted text-center less-margin">{{ data.subheading }}</h3>
                    <div class="panel panel-default">
                        <ul class="text-muted panel-body">
                        {% for item in data.panel %}
                            <li>{{ item }}</li>
                        {% endfor %} 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                    {% for moment in data.timeline %}
                        <li class="{{ moment.class }}">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ moment.image }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ moment.time }}</h4>
                                    <h4 class="subheading">{{ moment.title }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ moment.body }}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="">
                            <div class="timeline-image">
                                <h4>{{ data.timeline-end }}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
