--- 
layout: default
class: blog-post
---
{% include image-header.html %}
<section class="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                {{ content }}
            </div>
        </div>
        {% include blog-post-pagination.html %}
    </div>
</section>
<section id="newsletter" class="bg-light-gray">
  <div class="container">
    {% include mailchimp-form.html heading=newsletter.heading subheading=newsletter.subheading field=newsletter.field button=newsletter.button %}
  </div>
</section>
